@font-face {
    font-family: 'Roboto';
    src: url(./font/Roboto/Roboto-Regular.ttf),
         url(./font/Roboto/Roboto-Bold.ttf);
}
@font-face {
    font-family: 'Archivo black';
    src: url(./font/Archivo_Black/ArchivoBlack-Regular.ttf);
}
@font-face {
    font-family: 'Luciole';
    src: url(./font/luciole/Luciole-Regular.ttf),
         url(./font/luciole/Luciole-Bold.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --dark:#222222;
    --blue:#0E6286;
    --light-grey:#EBEBEB;
    --white:#FFFFFF;
    --blue-hover:#3E8BAC;
}

/*
****************************ACCESSIBILITE*******************************
*/
.luciole{
    font-family: 'Luciole', sans-serif;
}
.access p{
    color: var(--white);
    margin-right: 16px;
}
.access {
    display: flex;
    align-items: center;
    justify-content: center;
    --hue: 220deg;
    --width: 50px;
    --accent-hue: 22deg;
    --duration: 0.6s;
    --easing: cubic-bezier(1, 0, 1, 1);
  }
  
  .togglesw {
    display: none;
  }
  
  .change {
    --shadow-offset: calc(var(--width) / 20);
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: var(--width);
    height: calc(var(--width) / 2.5);
    border-radius: var(--width);
    box-shadow: inset 10px 10px 10px hsl(var(--hue) 20% 80%),
      inset -10px -10px 10px hsl(var(--hue) 20% 93%);
  }
  
  .indicator {
    content: '';
    position: absolute;
    width: 40%;
    height: 60%;
    transition: all var(--duration) var(--easing);
    box-shadow: inset 0 0 2px hsl(var(--hue) 20% 15% / 60%),
      inset 0 0 3px 2px hsl(var(--hue) 20% 15% / 60%),
      inset 0 0 5px 2px hsl(var(--hue) 20% 45% / 60%);
  }
  
  .indicator.left {
    --hue: var(--accent-hue);
    overflow: hidden;
    left: 10%;
    border-radius: 100px 0 0 100px;
    background: linear-gradient(180deg, hsl(calc(var(--accent-hue) + 20deg) 95% 80%) 10%, hsl(calc(var(--accent-hue) + 20deg) 100% 60%) 30%, hsl(var(--accent-hue) 90% 50%) 60%, hsl(var(--accent-hue) 90% 60%) 75%, hsl(var(--accent-hue) 90% 50%));
  }
  
  .indicator.left::after {
    content: '';
    position: absolute;
    opacity: 0.6;
    width: 100%;
    height: 100%;
  }
  
  .indicator.right {
    right: 10%;
    border-radius: 0 100px 100px 0;
    background-image: linear-gradient(180deg, hsl(var(--hue) 20% 95%), hsl(var(--hue) 20% 65%) 60%, hsl(var(--hue) 20% 70%) 70%, hsl(var(--hue) 20% 65%));
  }
  
  .button {
    position: absolute;
    z-index: 1;
    width: 55%;
    height: 80%;
    left: 5%;
    border-radius: 100px;
    background-image: linear-gradient(160deg, hsl(var(--hue) 20% 95%) 40%, hsl(var(--hue) 20% 65%) 70%);
    transition: all var(--duration) var(--easing);
  }
  
  .button::before, 
  .button::after {
    content: '';
    position: absolute;
    top: 10%;
    width: 41%;
    height: 80%;
    border-radius: 100%;
  }
  
  .button::before {
    left: 5%;
    box-shadow: inset 1px 1px 2px hsl(var(--hue) 20% 85%);
    background-image: linear-gradient(-50deg, hsl(var(--hue) 20% 95%) 20%, hsl(var(--hue) 20% 85%) 80%);
  }
  
  .button::after {
    right: 5%;
    box-shadow: inset 1px 1px 3px hsl(var(--hue) 20% 70%);
    background-image: linear-gradient(-50deg, hsl(var(--hue) 20% 95%) 20%, hsl(var(--hue) 20% 75%) 80%);
  }
  
  .togglesw:checked ~ .button {
    left: 40%;
  }
  
  .togglesw:not(:checked) ~ .indicator.left,
  .togglesw:checked ~ .indicator.right {
    box-shadow: inset 0 0 5px hsl(var(--hue) 20% 15% / 100%),
      inset 20px 20px 10px hsl(var(--hue) 20% 15% / 100%),
      inset 20px 20px 15px hsl(var(--hue) 20% 45% / 100%);
  }


/*
****************************GENERAL*******************************
*/
.container{
    max-width: 1200px;
    margin: 50px auto;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.align-center{
    align-items: center;
}
.text-center{
    text-align: center;
}
.space-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.flex-column{
    flex-direction: column;
}
.gap5{
    gap: 5px;
}
.gap16{
    gap: 16px;
}
.gap32{
    gap: 32px;
}
.gap64{
    gap: 64px;
}
.hidden{
    display: none;
}


nav,ul,li,a{
    list-style: none;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Roboto',sans-serif;
}
a:hover{
    color: var(--blue-hover);
}
img{
    width: 100%;
    height: 100%;
}
h1,h2,h3{
    font-family: 'Archivo black', sans-serif;
    font-weight: 400;
    color: var(--dark);
}
h1{
    font-size: 32px;
}
h2{
    font-size: 28px;
}
h3{
    font-size: 18px;
    text-transform: uppercase;
}
h4{
    font-family: 'Roboto',sans-serif;
    text-transform: uppercase;
    font-size: 22px;
    color: var(--white);
}
p{
    color : var(--dark);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.btn-bleu{
    background-color: var(--blue);
    padding: 10px 40px;
}
.btn-bleu>a{
    color: var(--white);
}
.btn-blanc{
    width: 100%;
    height: fit-content;
    border: 1px solid var(--dark);
    background-color: transparent;
    padding: 10px 0;
}
.btn-blanc>a{
    color: var(--dark);
}
.btn-blanc a:hover{
    color: var(--blue-hover);
}

/*
****************************CLASSE WIDTH*******************************
*/
.large100{
    width: 100%;
}
.large50{
    width: 50%;
}
.large45{
    width: 45%;
}
.large40{
    width: 40%;
}

/*
****************************HEADER*******************************
*/
header{
    background-color: var(--dark);
    box-shadow: 1px 0 5px var(--dark);
    padding: 0 32px;
    height: 80px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000000;
}
header a{
    color: var(--white);
}
.logo{
    width: 96px;
    height: 64px;
}
.door{
    border: 2px solid var(--white);
    padding: 10px;
}
#headerBurger{
    z-index: 1000000;
    display: none;
    background-color: var(--dark);
    box-shadow: 1px 0 5px var(--dark);
    padding: 32px 32px;
    width: 200px;
    height: calc(100vh - 80px);
    position: fixed;
    top: 80px;
    right: 0;
    transform: translateX(200px);
    transition: transform 0.6s linear;
}
/* icon burger*/
#burger{
    display: none;
    border-radius: 16px;
    border: 1px solid #1a1a1a;
    background: rgba(74, 74, 74, 0.39);
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.20);
    backdrop-filter: blur(15px);
    width: 64px;
    height: 64px;
}
#burgerIcon{
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-family: inherit;
}
.burger_icon {
    width: 28px;
    height: 28px;
    padding: 3px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
  
.burger_icon span {
  width: 100%;
  height: 0.125rem;
  border-radius: 0.125rem;
  background-color: var(--blue-hover);
  box-shadow: 0 .5px 2px 0 hsla(0, 0%, 0%, .2);
  transition: transform .4s, background-color .4s, width .4s, opacity .4s;
}

.burger_icon span:nth-child(2) {
  width: 60%;
}

.burgerCroix1{
  background-color: rgb(255, 59, 48) !important;
  transform: translateY(7.5px) rotate(-45deg);
}

.burgerCroix2{
  width: 0;
  opacity: 0;
}

.burgerCroix3{
  background-color: rgb(255, 59, 48) !important;
  transform: translateY(-10px) rotate(45deg);
}

/*
****************************FOOTER*******************************
*/
footer{
    background-color: var(--dark);
    padding: 20px 0;
}
#map{
    width: 700px;
    height: 400px;
}

footer h3,footer a,footer p{
    color: var(--white);
}
footer h3{
    margin-bottom: 16px;
}
.mentions{
    color: var(--blue);
}


/*
****************************************************************
****************************************************************
****************************INDEX*******************************
****************************************************************
****************************************************************
*/

/*
****************************HERO*******************************
*/
.hero{
    background-image: url(./imagesSIte/banniere-running.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.heroContent{
    width: 25%;
    margin: 200px 0;
}
.slogan{
    font-size: 32px !important;
    font-family: 'Archivo black', sans-serif;
    font-weight: 400;
}
.heroContent p{
    font-size: 22px;
}

/*
****************************PRODUITS PAR CATEGORIES*******************************
*/
.articleCat{
    width: 25%;
}
.articleCat h3{
    background-color: var(--dark);
    color: var(--white);
}
/*
****************************GAMME @UTDOOR*******************************
*/
.gammeOut{
    background-image: url(./imagesSIte/accueil-bg-outdoor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    padding-top: 50px;
}
.outContent{
    margin: 100px 0;
}
.outArt{
    background-color: var(--dark);
    box-shadow: 1px 0 5px var(--dark);
    position: relative;
    top: 100px;
}
.outImg{
    width: 30%;
}
.outDesc{
    width: 65%;
    padding: 16px;
}
.newPrix{
    color: var(--blue);
    font-size: 28px;
    font-weight: 700;
}
.outTexte p{
    color: var(--white);
}
.outTexte ul{
    color: var(--white);
    padding: 16px 0 0 16px;
}
.outTexte li{   
    list-style: circle;
    font-weight: 400;
}
.btn-produit a{
    color: var(--blue);
}
/*
****************************OFFRE*******************************
*/
.sectionOffre{
    padding: 200px 0;
}
/*
****************************PRESENTATION M'S**********************
*/
.prezImg{
    border-radius: 30px;
}
.prezContent{
    justify-content: space-evenly;
}
/*
****************************MARQUES*******************************
*/
.marques{
    background-color: var(--dark);
    padding-top: 1px;
}
.marques h2{
    color: var(--white);
}
.logoMarques{
    padding: 16px 0;
}
.logoMarques>div{
    width: 150px;
}
.north{
    width: 200px !important;
}
/*
****************************FORMULAIRE*******************************
*/
#contact{
    padding-top: 130px;
}
button{
    color: var(--white);
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.input-error{
    border: 1px solid red;
}
.p-error{
    color: red;
}

/*
****************************************************************
****************************************************************
****************************DETAIL PRODUIT**********************
****************************************************************
****************************************************************
*/

/*
****************************PAGINATION*******************************
*/
.ancreChaussure{
    background-color: var(--dark);
    padding: 5px 30px;
}
.ancreChaussure a, .ancreLibelle a{
    color: var(--white);
}
.ancreBaskets{
    border: 1px solid var(--dark);
    padding: 4px 30px;
}
.ancreBaskets a{
    color: var(--dark);
}
.ancreLibelle{
    background-color: var(--blue);
    padding: 5px 30px;
}

/*
****************************ARTICLE*******************************
*/

.swiper-content{
    position: relative;
    height: 100%;
}
.swiper {
    height: 100%;
}
.swiper-slide img {
    display: block;
    height: 100%;
    object-fit: cover;
}
.libelleContent h4{
    color: var(--dark);
    font-weight: 700;
}
.libelleP p, .libelleArticle li{
    color: var(--dark);
}
.bold{
    font-weight: 700;
}
.rond{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.rond-bleu{
    background-color: blue;
}
.rond-violet{
    background-color: blueviolet;
}
.rond-rouge{
    background-color:crimson;
}
.rond-vert{
    background-color:limegreen;
}
select[name="taille"]{
    width: 120px;
    padding: 5px;
}
/*
****************************AVIS*******************************
*/
.avis h2{
    margin-bottom: 64px;
}
.imgProfil{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--dark);
}
.imgProfil img{
    width: 30px;
    height: 30px;
}
.avisComment{
    width: 70%;
}
.nomAvis{
    width: 25%;
    margin-bottom: 8px;
}

/*
****************************************************************
****************************************************************
****************************CATEGORIEBASKETS********************
****************************************************************
****************************************************************
*/

/*
****************************LISTE PRODUITS***********************
*/
.listeProduit h1{
    margin-bottom: 64px;
}
#articleContainer a{
    width: 22%;
    padding: 10px;
    box-shadow: 11px 10px 9px 1px var(--light-grey);
    -webkit-box-shadow: 11px 10px 9px 1px var(--light-grey);
    -moz-box-shadow: 11px 10px 9px 1px var(--light-grey);
}
#articleContainer h5{
    color: var(--dark);
    font-family: 'Roboto',sans-serif;
    font-size: 18px;
    width: 60%;
}
#articleContainer .newPrix{
    font-size: 22px;
}

/*
****************************************************************
****************************************************************
****************************PAGE CHAUSSURES**********************
****************************************************************
****************************************************************
*/

.listeCatChauss>a{
    width: 31%;
    box-shadow: 11px 10px 9px 1px var(--light-grey);
    -webkit-box-shadow: 11px 10px 9px 1px var(--light-grey);
    -moz-box-shadow: 11px 10px 9px 1px var(--light-grey);
}
.listeCatContent{
    padding: 0 5% 5% 5%;
}


/*
****************************************************************
****************************************************************
****************************************************************
****************************************************************
****************************RESPONSIVE**************************
****************************************************************
****************************************************************
****************************************************************
****************************************************************
*/

/*
****************************************************************
****************************************************************
****************************MEDIA 1250**************************
****************************************************************
****************************************************************
*/
@media all and (max-width:1250px){
    .container{
        max-width: 900px;
    }

    /*
    ****************************FOOTER************************
    */
    #footerContent{
        justify-content: flex-start;
        margin: 0 auto;
        max-width: 900px;
    }

    /*
    ***********************************************************
    *************************INDEX*****************************
    ***********************************************************
    */

    /*
    ****************************HERO***************************
    */
    .heroContent{
        width: 40%;
    }
    /*
    ****************************@UTDOOR************************
    */
    .outContent{
        width: 60%;
    }
    .outArt{
        width: 70%;
    }

    /*
    ***********************************************************
    *********************PAGE CHAUSSURES***********************
    ***********************************************************
    */

    /*
    *********************LISTE CATEGORIE***********************
    */

    .listeCatChauss>a{
        width: 30%;
    }

    /*
    ***********************************************************
    *********************CATEGORIEBASKETS**********************
    ***********************************************************
    */

    /*
    *********************LISTE CATEGORIE***********************
    */
    
    #articleContainer a{
        width: 30%;
    }
}



/*
*************************************************************
*************************************************************
****************************MEDIA 950************************
*************************************************************
*************************************************************
*/

@media all and (max-width:950px){
    .medium100{
        width: 100%;
    }
    .container{
        max-width: 600px;
    }

    /*
    ****************************HEADER***********************
    */
    .mobile{
        display: none;
    }
    header nav{
        margin-bottom: 32px;
    }
    #burger{
        display: flex;
    }
    #headerBurger{
        display: block;
    }

    /*
    ****************************FOOTER************************
    */
    #footerContent{
        justify-content: flex-start;
        margin: 0 auto;
        max-width: 600px;
    }
    #map{
        width: 600px;
        height: 350px;
    }

    /*
    ***********************************************************
    *************************INDEX*****************************
    ***********************************************************
    */

    /*
    *************************HERO******************************
    */

    .hero{
        display: none;
    }

    /*
    *******************PRODUIT PAR CATEGORIE*******************
    */

    .produitsCat{
        flex-direction: column;
        gap: 32px;
    }
    .produitsCat>div{
        gap: 32px;
    }

    /*
    *************************@UTDOOR***************************
    */

    .outContent{
        width: 90%;
    }

    /*
    *************************OFFRES****************************
    */

    .sectionOffre{
        flex-direction: column-reverse;
        gap: 32px;
    }
    .offreContent{
        gap: 16px;
    }

    /*
    **********************PRESENTATION M'S*********************
    */

    #prez{
        flex-direction: column;
        gap: 32px;
    }
    .prezContent{
        gap: 16px;
    }

    /*
    ****************************MARQUES***********************
    */

    .logoMarques>div{
        width: 250px;
    }
    .north{
        width: 300px !important;
    }

    /*
    ****************************FORMULAIRE*********************
    */

    #contact{
        flex-direction: column-reverse;
        gap:32px;
    }

    /*
    ***********************************************************
    *********************PAGE CHAUSSURES***********************
    ***********************************************************
    */

    .listeCatChauss>a{
        width: 47%;
    }

    /*
    ***********************************************************
    ********************CATEGORIEBASKETS***********************
    ***********************************************************
    */

    #articleContainer a{
        width: 47%;
    }

    /*
    ***********************************************************
    **********************DETAILPRODUITS***********************
    ***********************************************************
    */

    /*
    *************************ARTICLE***************************
    */

    #articleLibelle{
        flex-direction: column;
    }

    /*
    **************************AVIS*****************************
    */

    .avisComment{
        width: 88%;
    }
}



/*
****************************************************************
****************************************************************
****************************MEDIA 650***************************
****************************************************************
****************************************************************
*/

@media all and (max-width:650px){
    .small100{
        width: 100%;
    }
    body{
        margin: 2px;
    }
    /*
    *****************************FOOTER***********************
    */
    footer{
        justify-content: center;
    }
    #map{
        width: 80%
    }

    /*
    ***********************************************************
    *************************INDEX*****************************
    ***********************************************************
    */

    /*
    *****************************@UTDOOR***********************
    */

    .gammeOut{
        background-image: url();
    }
    .bg-mobile{
        background-image: url("./imagesSIte/accueil-bg-outdoor.jpg");
        background-size:cover;
        
        background-repeat: no-repeat;
        padding: 10% 0;
        margin: 2px;
    }
    .outContent{
        margin:10px;
        width: 70%;
        
    }
    .outArt{
        flex-direction: column;
        top: 0;
    }

    /*
    ****************************MARQUES***********************
    */

    .logoMarques{
        justify-content: center;
        flex-direction: column;
    }
    .logoMarques>div{
        width: 200px;
    }
    .north{
        width: 250px !important;
    }

    /*
    ***********************************************************
    *********************PAGE CHAUSSURES***********************
    ***********************************************************
    */

    .listeCatChauss>a{
        width: 90%;
        margin: 0 auto;
    }

    /*
    ***********************************************************
    ********************CATEGORIEBASKETS***********************
    ***********************************************************
    */

    #articleContainer a{
        width: 90%;
        margin: 0 auto;
    }

    /*
    ***********************************************************
    **********************DETAILPRODUITS***********************
    ***********************************************************
    */
    body {
        padding: 0 1%;
    }
    /*
    ****************************MARQUES***********************
    */

    #pag{
        flex-direction: column;
        align-items: flex-start;
    }

}